/* team colors */
.REDD {
  background: red;
}

.LBLU {
  background: cyan;
  color: #2b2b2b;
}

.GRNN {
  background: green;
}

.YLLW {
  background: yellow;
  color: #2b2b2b;
}

.PINK {
  background: pink;
  color: #2b2b2b;
}

.BLCK {
  background: black;
  color: #fff;
}

.GOLD {
  background: gold;
}

.PRPL {
  background: #90F;
  color: #2b2b2b;
}

.NAVY {
  background: navy;
}

.ORNG {
  background: orange;
}

.MARO {
  background: maroon;
}

.GRAY {
  background: gray;
  color: #2b2b2b;
}

.WHIT {
  background: white;
  color: #2b2b2b;
}

.SLVR {
  background: silver;
  color: #2b2b2b;
}
