<div class="trivia-question ng-class:{'activated': question.activated}"
    ng-click="activate(question)"
    ng-switch="question.active">

  <span class="amount" ng-if="!question.activated">{{question.amount}}</span>
  <span class="amount" ng-if="question.activated">&nbsp;</span>

  <div class="modal" ng-switch-when="true">
    <div class="question-active">
      <div class="face">
        <div class="timer">{{time}}</div>
        {{question.question}}

        <button class="reveal" ng-if="!question.reveal" ng-click="reveal(question)">reveal</button>
        <button class="dismiss" ng-if="question.reveal" ng-click="dismiss()">dismiss</button>
      </div>

      <div class="out-of-time back" ng-if="question.outOfTime">Out of time!</div>

      <div class="answer back" ng-if="question.reveal" ng-bind-html="question.answer"></div>
    </div>
  </div>
</div>
