<div class="trivia-question ng-class:{'activated': question.activated}"
    ng-click="activate(question)"
    ng-switch="question.active">

  <span class="amount">{{question.amount}}</span>

  <div class="modal" ng-switch-when="true">
    <div class="question-active">
      <div class="face">
        {{question.question}}

        <button class="reveal" ng-click="reveal(question)">Reveal</button>
      </div>
      <div class="back" ng-if="question.reveal">
        {{question.answer}}
      </div>
    </div>
  </div>
</div>
