* {
  display: border-box; }

@keyframes showQuestion {
  0% {
    transform: scale(0.25, 0.25); } }

@keyframes loadQuestion {
  0% {
    background: none;
    margin-top: -1000px; }
  50% {
    margin-top: 0; }
  65% {
    margin-top: 20px; }
  80% {
    margin-top: -10px; }
  100% { } }

body {
  font-family: 'Roboto', sans-serif;
  background: #cdcdcd;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex; }

h2 {
  padding: 0;
  margin: 0 0 0 0;
  min-height: 100px;
  max-height: 100px;
  vertical-align: center; }

.trivia-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 40px;
  padding: 3px; }

.trivia-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  flex-direction: column; }

.trivia-question {
  -webkit-flex: 1;
  flex: 1;
  display: flex;
  cursor: pointer;
  text-align: center;
  background: #5467ff;
  color: #fff;
  transition: all 0.3s ease-out;
  animation: loadQuestion 0.5s ease-in;
  margin: 3px;
  text-shadow: 0 2px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center; }
  .trivia-question .amount {
    color: #FFD123;
    font-size: 24px;
    font-weight: bold; }

.trivia-question:hover {
  background: #5467cc; }

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); }

.question-active {
  padding: 20px;
  font-size: 28px;
  background: #fff;
  color: #3b3b3b;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  border: none;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  animation: showQuestion 0.25s ease-in; }

.reveal {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #fff;
  padding: 5px 10px;
  border: none;
  font-size: 18px; }

.trivia-category > h2 {
  font-size: 16px;
  border-bottom: solid 1px #ccc;
  margin: 0;
  padding: 0; }

.buzz {
  position: absolute;
  top: 20px;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 80px;
  color: #fff; }

.selection-container {
  padding: 40px 80px;
  width: 100%;
  text-align: center; }
  .selection-container a {
    display: block;
    font-size: 24px;
    line-height: 60px;
    text-decoration: none; }

.round-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  background: #333;
  text-align: center;
  font-size: 24px;
  color: #fff; }

.round-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #2b2b2b;
  -webkit-display: flex;
  display: flex; }
  .round-footer a {
    color: #fff;
    -webkit-flex: 1;
    flex: 1;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    text-decoration: none; }

.REDD {
  background: red; }

.LBLU {
  background: cyan;
  color: #2b2b2b; }

.GRNN {
  background: green; }

.YLLW {
  background: yellow;
  color: #2b2b2b; }

.PINK {
  background: pink;
  color: #2b2b2b; }

.BLCK {
  background: black;
  color: #fff; }

.GOLD {
  background: gold; }

.PRPL {
  background: #90F;
  color: #2b2b2b; }

.NAVY {
  background: navy; }

.ORNG {
  background: orange; }

.MARO {
  background: maroon; }

.GRAY {
  background: gray;
  color: #2b2b2b; }

.WHIT {
  background: white;
  color: #2b2b2b; }

.SLVR {
  background: silver;
  color: #2b2b2b; }
