* {
  display: border-box; }

@keyframes showQuestion {
  0% {
    transform: scale(0.25, 0.25); } }

body {
  font-family: 'Roboto', sans-serif;
  background: #cdcdcd;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  display: flex; }

h2 {
  padding: 0;
  margin: 10px 0 0 0;
  min-height: 100px;
  max-height: 100px;
  vertical-align: center; }

.trivia-container {
  display: flex;
  flex: 1; }

.trivia-column {
  display: flex;
  flex: 1;
  flex-direction: column; }

.trivia-question {
  flex: 1;
  cursor: pointer;
  text-align: center;
  background: #24537C;
  color: #fff;
  margin: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.3s ease-out; }

.trivia-question:hover {
  background: #54679f; }

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); }

.active {
  padding: 20px;
  font-size: 28px;
  background: #fff;
  color: #3b3b3b;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  margin-top: -200px;
  margin-left: -200px;
  animation: showQuestion 0.25s ease-in; }

.reveal {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #fff;
  padding: 5px 10px;
  border: none;
  font-size: 18px; }

.trivia-category > h2 {
  font-size: 16px;
  border-bottom: solid 1px #ccc;
  margin: 0;
  padding: 0; }
